.publicUserFriend {
  display: flex;
  padding: 4px 4rem;
  align-items: center;
  border: 2px solid grey;
  background-color: white;
  margin: 4px 0;
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
  .publicUserFriend_userImage {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
  h5 {
    padding: 0 10px;
  }
}