.publicUserFriend {
  text-decoration: none !important;
  color: inherit !important;
  background-color: #F8F9FA;
  transition: box-shadow .1s;
  &:hover {
      box-shadow: 0 0 8px 2px rgba(200, 200, 200, .5);
  }
}
.publicUserFriend_userImage {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}