.UserRecentActivity {
  background-color: #F8F9FA;
  transition: box-shadow .1s;
  &:hover {
      box-shadow: 0 0 8px 2px rgba(200, 200, 200, .5);
  }
  p {
    font-weight: normal;
    padding: 0  5px;
    margin: 0;
  }
}

.UserRecentActivity-daysAgo {
  text-align: right;
  font-size: .7rem;
}