.userPublicProfileListItem {
  width: 150px;
  height: 100%;
  margin: 5px;
  position: relative;

  .publicUserListItemName {
    font-size: 0.8rem;
    font-weight: bold;
  }
  .publicUserListItemRating {
    position: absolute;
    bottom: 0;
  }
  p {
    margin: 0;
  }
}

.ListItem_movieImage {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-color: grey;
}