.pwSubmit {
    padding: 5px 10px;
    background-color: slategray;
    width: 60%;
    border-radius: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
}
.changePassword-modal {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(150, 150, 150, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.changePassword-container {
    position: relative;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 2px solid slategray;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 0 darkgray;
    padding: 30px;
    p {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }
    .changePwCloseBtn {
        position: absolute;
        top: -25px;
        right: -25px;
        font-size: 1.5rem;
        cursor: pointer;
    }
}
.changePassword-responseMessage {
    margin: 10px 0 -10px 0;
    color: tomato;
    font-weight: bold;  
}