.friendOptionsBtn {
    position: relative;
    cursor: pointer;
}
.friendOptions {
    position: absolute;
    background-color: slategray;
    color: white;
    padding: 5px;
    right: 0;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0 black;
    cursor: pointer;
    user-select: none;
    &:hover {
        color: slategray;
        background-color: white;
    }
}