.friend {
    transition: box-shadow .1s;
    &:hover {
        box-shadow: 0 0 8px 2px rgba(200, 200, 200, .5);
    }
}
.friend-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}