  .select {
    justify-content: space-around;
    position: relative;
  }
  .select-selectBtn {
    position: absolute;
    top: 52px;
    width: 100px;
    height: 50px;
    background-color: dodgerblue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 5px 0 black;
    border-radius: 5px;
    overflow: hidden;
    p {
      margin: 0;
      height: 50%;
      width: 100%;
      text-align: center;
      
      &:hover {
        color: dodgerblue;
        background-color: white;
      }
    }
  }