.searchCategories {
    display: flex;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  .searchCategories_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    color: white;
    cursor: pointer;
    user-select: none;
  }
  #categoryBtn-movies {
    background-color: #68878b;
  }
  #categoryBtn-actors {
    background-color: #b8b069;
  }
  #categoryBtn-users {
    background-color: #c29d84;
  }