#listsWidget-topButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }
  #listsWidget-topButtons p {
    display: flex;
    align-items: center;
    margin: 0;
  }
  #listsWidget-topButtons p:first-child i {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }
  #listsWidget-topButtons p:nth-child(2) i {
    display: flex;
    align-items: center;
    margin-left: 5px;
  }
  #listsWidget-topButtons i {
    color: slategray;
    font-size: 1.5rem;
    cursor: pointer;
  }