@import './lists_widget_components/_list_items.scss';
@import './lists_widget_components/_list_menu_btn_options.scss';
@import './lists_widget_components/_list_menu_btn.scss';
@import './lists_widget_components/_list.scss';
@import './lists_widget_components/_lists_widget_header.scss';
@import './lists_widget_components/_new_lists.scss';


#listsWidget {
    height: 600px;
   }

  #listsWidget-lists {
    width: 100%;
    flex-grow: 1;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
  }


  
  


