.newsFeed-item_userImage {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}

.newsFeed-item {
  transition: box-shadow .1s;
  &:hover {
    box-shadow: 0 0 6px 2px rgba(200, 200, 200, .4);
  }
}