.searchResultsItem {
  display: flex;
  justify-content: space-around;
  user-select: none;
  cursor: pointer;
  p {
    width: 33%;
    margin: 0;
  }
}

.searchItemDetails {
  animation: searchSlideItem .35s ease-out forwards;
}
.searchItemDetails-main {
  display: flex;
  p {
    padding: 5px 10px;
  }
}
.searchItemDetails-mainImage {
  height: 200px;
}
@keyframes searchSlideItem {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: 400px;
    opacity: 1;
  }
}
.actorsDetails {
  display: flex;
  justify-content: space-around;
}
.actorImage {
  height: 100px;
}