.actorSearchImage {
  height: 100px; 
  width: 70px;
  background-size: cover;
  background-position: center;
  background-color: #d0d0d0;
}
.searchItemDetails-actorMovieImg {
  height: 100px;
  width: 70px;
  background-color: #D0D0D0;
  background-size: cover;
  background-position: center;
}
.searchItemDetails-userImgContainer {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #D0D0D0;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 768px) {
  .movieItem-p {
    font-size: .6rem;
  }
  .fa-star, .fa-star-o {
    font-size: .8rem;
  }
}


