#topMoviesWidget {
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
  }
  .topMoviesWidgetCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    width: 23%;
    cursor: pointer;
    margin: 2px;
    
  }
  .topMoviesWidgetCard-img {
    width: 8rem;
  }
  .topMoviesWidgetCard-title {
    text-align: center;
  }