
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import '../../../node_modules/font-awesome/scss/font-awesome.scss';


//Components
@import './landing_page/_landing_page.scss';
@import './dashboard/_dashboard.scss';


// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.container {
  width: 100%;
  padding: 0;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}