
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Lato:400,700,900|Merriweather+Sans:400,700,800|Roboto|Shrikhand');
@import '../../../node_modules/font-awesome/scss/font-awesome.scss';


//Components
@import './landing_page/_landing_page.scss';
@import './dashboard/_dashboard.scss';
@import './user_profile/_user_profile.scss';
@import './public_user_profile/public_user_profile.scss';


// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
  font-weight: bold;
  outline: none;
}

.container {
  width: 100%;
  padding: 0;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
a {
  text-decoration: none;
  color: inherit;
}
  *::-webkit-scrollbar {
    width: .3em;
    border-radius: 20px;
    z-index: -1;
  }
  *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 20px;
    z-index: -1;
  }

*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 20px;
    z-index: -1;
  }