.changePassword {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2px 5px;
}

@media only screen and (max-width: 576px) {
    .userProfile-container {
        padding: 10px;
        margin: 5px;
    }
    h1 {
        font-size: 1.2rem !important;
    }
    .changePassword {
        Button {
            font-size: .7rem;
        }
    }
}
// @import './components/_user_details_form.scss';
// @import './components/_user_photo.scss';
@import './components/_friends_list.scss';
// @import './components/_friend_options.scss';
@import './components/_change_password.scss';
